[changelog]
header = "# Changelog\n\n"
body = """

## {{ version | default(value="Unreleased") }}

{% for commit in commits %}- {{ commit.message | trim }}
{% endfor %}
"""
trim = true

[git]
conventional_commits = false
filter_unconventional = false
sort_commits = "newest"
